* {
  background-color: #497174;
  color: #eff5f5;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
}

.grid-item {
  display: inherit;
  border: 1px solid #d6e4e5;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.test:hover {
  scale: 105%;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
